[Unit]
Description=GeoClue Agent
Documentation=man:geoclue(5)
After=dbus.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/geoclue-2.0/demos/agent
RestartSec=5
Restart=on-failure

[Install]
WantedBy=graphical-session.target
