[Unit]
Description=GeoClue Authentication Agent
Documentation=man:geoclue(8)
After=dbus.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/lib/geoclue-2.0/demos/agent
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
